body{
    margin: 0 auto;
    padding: 0;
    width: 80%;

    font-family: 'Poppins', sans-serif;
}
#heading-text{
    font-family: 'Yeseva One', cursive;
    margin: 0;
    padding: 0px 0px 0px 3px;
    box-sizing: border-box;
    box-shadow: -3px 0px #FF5959;
}
.my-mission{
    display: flex;
    margin: auto;
    margin-top: 100px;
}
.mission-brief{
    width: 50%;
    
}
.top-heading-div{
    
    margin:0;
    padding: 0px;
    
}
.top-heading{
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}
.mission2022{
    font-size: 60px;
    color: #FFAD5A;
    margin: 0px;
    padding: 0px;
}

.my-picture{
    width: 80%;
    
    
}

.my-picture img{
    width: 40%;
    margin-left: 300px;
    
}

.details-btn{
    text-decoration: none;
    padding: 15px 35px;
    background-color: #FF5959;
    color:white;
    border-radius: 5px;
    
    
}
.brief-about-me{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
   
}
.scroll-down{
    margin-top: 40px;
}

.heading-two{
    font-size: 70px;
    text-align: center;
}
.heading-two span{
    color: #FFAD5A;
}

.missin{
    
    background-color: rgb(237, 245, 246);
    
    
}
.section-two-img img{
    width: 30%;
}
.vission{
   margin: 0px 60px;
    background-color: rgb(255, 238, 238);
}
.goal{
    background-color: #FFF4D6;
    
}
.section-two-div{
    border-radius: 10px;
    width: 33.33%;
    padding: 20px;
    text-align: justify;
}
.section-img {
    width: 35%;
  }

.section-img img{
    width: 100%;
}

#group-study{
    margin-left: 80px;
}

.section-text{

    width: 65%;
    
    margin-top: 80px;
    padding: 30px;
}
.section-text h2{
    margin: 0px;
    font-size: 36px;
    font-weight: 700;
    
}

.section-text p{

    font-size: 18px;
    margin-bottom: 40px;
    text-align: justify;
   
}

.contact-top-space{
    margin-top: 100px;
}

.contact-parent-div{
    display: flex;
    
}

.address-div{
    background-color: rgb(237, 245, 246);
    border-radius: 10px;
   
}

.contact-div{
    background-color: #FFF4D6;
    border-radius: 10px;
    margin-left: 80px;
}
.contact-me{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0px;
}
.name-section{
    display: flex;
   
}
.last-name{
    margin-left: 50px;
    

}

.contact-sub-heading {
    
    font-size: 30px;
    text-align: left;
}
.address-div p{
    margin: 0;
}
.email-section{
    margin: 10px 0px;
}
#fname{
    height: 30px;

}
#lname{
height: 30px;
}
#email{
    width: 400px;
    height: 30px;
}
#message{
    height: 200px;
    width: 400px;
    margin-bottom: 50px;
}

::placeholder {
   text-align: center;
  }

.submit-btn{
    text-decoration: none;
    padding: 15px 35px;
    background-color: #FF5959;
    color:white;
    border-radius: 5px;
    margin-left: 145px;
    
}
footer{
    background-color: black;
    text-align: center;
    padding: 30px;
    margin-top: 20px;

}

.footer-head-color{
    font-family: 'Lobster Two', cursive;
    color: #FFFFFF;
    margin: 0px;
    font-size: 36px;
    margin-bottom: 20px;
    

}

.footer-head-color span{
    color: #FF5959;

}

 .footer-text-color {
    font-family: 'Manrope', sans-serif;
    color:#FFFFFF;
    margin: 0px;
    font-size: 14px;
    

}