body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#heading-text{
    font-family: 'Yeseva One', cursive;
}
.my-mission{
    display: flex;
    margin: auto;
    width: 80%;
}
.mission-brief{
    width: 50%;
    margin-top: 70px;
}
.top-heading-div{
    box-shadow: -3px 0px #FF5959;
    
}
.top-heading{
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}
.mission2022{
    font-size: 60px;
    color: #FFAD5A;
    margin: 0px;
    padding: 0px;
}

.my-picture{
    width: 80%;
    
    
}

.my-picture img{
    width: 40%;
    margin-left: 300px;
    
}

.details-btn{
    text-decoration: none;
    padding: 15px 35px;
    background-color: #FF5959;
    color:white;
    border-radius: 5px;
    
    
}
.brief-about-me{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
   
}
.scroll-down{
    margin-top: 40px;
}

.heading-two{
    font-size: 70px;
    text-align: center;
}
.heading-two span{
    color: #FFAD5A;
}

.missin{
    
    background-color: rgb(237, 245, 246);
    
    
}
.section-two-img img{
    width: 30%;
}
.vission{
   margin: 0px 60px;
    background-color: rgb(255, 238, 238);
}
.goal{
    background-color: #FFF4D6;
    
}
.section-two-div{
    border-radius: 10px;
    width: 33.33%;
    padding: 20px;
    text-align: justify;
}

.section-top-space{
    margin-top: 100px;
}
.section-img {
    width: 35%;
    /* background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100px 5px; 
    background-position: 150px; */

}

.section-img img{
    width: 100%;
}

.section-text{

    width: 65%;
    margin-left: 80px;
    margin-top: 80px;
    padding: 30px;
}
.section-text h2{
    margin: 0px;
    font-size: 36px;
    font-weight: 700;
    
}

.section-text p{

    font-size: 18px;
    margin-bottom: 40px;

}