body{
    margin: 0 auto;
    padding: 0;
}
.my-mission{
    display: flex;
    margin: auto;
    width: 80%;
}
.mission-brief{
    width: 50%;
    margin-top: 70px;
}
.top-heading-div{
    box-shadow: -3px 0px #FF5959;
    
}
.top-heading{
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}
.mission2022{
    font-size: 60px;
    color: #FFAD5A;
    margin: 0px;
    padding: 0px;
}

.my-picture{
    width: 80%;
    
    
}

.my-picture img{
    width: 40%;
    margin-left: 300px;
    
}

.learn-more-btn{
    text-decoration: none;
    padding: 10px 30px;
    background-color: tomato;
    color:white;
    border-radius: 5px;
    
    
 
}
.brief-about-me{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
   
}
.scroll-down{
    margin-top: 40px;
}

.heading-two{
    font-size: 70px;
    text-align: center;
}
.heading-two span{
    color: #FFAD5A;
}

.missin{
    
    background-color: rgb(237, 245, 246);
    
    
}
.section-two-img img{
    width: 30%;
}
.vission{
   margin: 0px 60px;
    background-color: rgb(255, 238, 238);
}
.goal{
    background-color: #FFF4D6;
    
}
.section-two-div{
    border-radius: 10px;
    width: 33.33%;
    padding: 20px;
    text-align: justify;
}